<nav class="global-header">
	<nav class="gnb">
		<ul>
			<li>{{#linkTo "posts"}}blog{{/linkTo}}</li>
			<li>{{#linkTo "about"}}about{{/linkTo}}</li>
		</ul>
	</nav>
	<p class="copyright">
		2013 synthresin<br/>
		All rights reserved
	</p>
</nav>
<div class="depth-1-wrapper">
	{{outlet}}
</div>