<h1>Javascript MVC Framework 탐구</h1>
<p class="date">2013/1/13</p>
<hr>
<div class="post-content">
	<p>지난 주말, 10년 전 미국유학 시절 친하게 지내던 이웃 아저씨 집에 저녁식사 초대를 받아서 다녀왔다. 50대 백인 아저씨 몇 분과 이런저런 이야기를 나누다 자연스럽게 요즘 인기있는 싸이의 ‘강남스타일’이 화제에 올랐다. “너무 멋지고 흥겨운 곡”이란 대답에, 내친김에 그럼 한국 드라마도 본 일이 있느냐는 질문을 해봤다.

<p>약 일년여전 넷플릭스에 입성한 겨울연가.<br/>
그러자 다소 뜻밖의 대답이 돌아왔다. 한 분은 “<겨울연가>를 감동적으로 봤고, 몇몇 드라마를 거쳐 지금은 <마이더스>라는 드라마를 보고 있다”고 했다. 한국을 떠난 지 오래된 나도 잘 모르는 드라마 제목을 열거해 좀 당황했다. 티브이 없이 컴퓨터로만 티브이 프로그램을 본다는 또다른 분은 “요즘 <페이스>(신의)라는 드라마를 보고 있다”고 했다. 그래서 내가 항상 외국인들에게 권하는 한국 드라마인 <대장금>을 보라고 추천을 해주었다. 그러자 “그건 3년 전에 벌써 봤다”는 대답이 돌아왔다. 당시 그 긴 드라마에 푹 빠져 한번에 12시간을 내리 보기까지 했다는 것이다.</p>

<p>훌루의 한국드라마코너에 있는 신의(Faith)<br/>
이런 이야기를 들으며 세상이 참 많이 변했다는 생각을 했다. 미국내 아시안들 사이에서 한국 드라마가 인기를 얻은 지는 좀 되었다. 하지만 문화적 배경이 많이 다른 주류 백인층에게는 그다지 알려지지 못했다. 한국 영화나 드라마를 보라고 절친한 미국 지인들에게 DVD를 선물한 일도 있지만, 볼만한 콘텐츠가 넘치는 땅에 사는 그들이 한국 콘텐츠에 호기심을 갖게 하기는 쉽지 않았다.<br/>
그럼에도 이렇게 한국 콘텐츠가 미국 주류층에 퍼지고 있는 데는 이유가 있다. 첫째는 인터넷의 힘이다. 미국 청소년은 이제 라디오보다 유튜브로 더 많이 음악을 듣는다고 한다. 유튜브 덕분에 케이팝이 미국 젊은층에 급속히 저변을 확대하고 있다. 지난해 보스턴 교외의 중학교에 다니던 우리 아들은 백인 친구 집에 놀러 갔다가 그 친구의 누나가 한국 드라마를 보고 있어서 놀랐다고 했다. 알고 보니 유튜브를 통해 한국 노래를 접하게 됐고, 더 나아가 한국 드라마까지 보게 되었다는 것이다.<p>

<p>PC는 물론 아이폰, 안드로이드, 구글TV, Roku 등을 통해 한국드라마를 시청할 수 있게 해주는 Dramafever의 서비스<br/>
둘째는 그에 따른 대중의 미디어 소비 방법의 변화다. 예전에 티브이를 통해서만 영상 콘텐츠를 접하던 미국인들은 점점 피시, 스마트폰, 태블릿 컴퓨터를 통해 동영상을 소비하고 있다. 그러면서 넷플릭스, 훌루 등 방대한 영화·드라마 콘텐츠를 쌓아놓고 언제든지 원할 때 자유롭게 볼 수 있는 인터넷서비스가 큰 인기를 끌고 있다. 한국 드라마를 미국 전국방송을 통해 방영시키기는 어렵다. 하지만 강남스타일의 사례에서 보듯 경쟁력 있는 한국 드라마가 넷플릭스에 들어가 있다면 입소문을 통해 세계적으로 3000만명이 넘는 넷플릭스 가입자에게 선택받을 가능성이 있는 것이다.</p>

<p>작년 7월 WSJ은 넷플릭스에서 드라마를 몰아서보는 시청경향을 소개한 기사에서 한국드라마 Shining Inheritance, 즉 ‘찬란한 유산’이 큰 인기를 끌고 있다고 소개한 바 있다.
이미 <겨울연가> 등 수많은 한국 드라마가 넷플릭스와 훌루를 통해 미국에 소개됐다. 위에서 소개한, 내가 만난 한국 드라마를 보는 백인 남성들도 모두 넷플릭스와 훌루를 통해 시청하고 있다. 그들이 점차 한국 콘텐츠에 맛을 들이고 있는 것이다.<br/>
예전부터 나는 한국을 잘 모르는 외국인들에게 ‘한국은 아시아의 할리우드’라고 소개하곤 했다. 하지만 한국을 생소하게 생각하는 사람들에게는 와닿지 않는 이야기였을 것이다. 그런데 이제 강남스타일의 성공으로 모두가 한국에 관심을 갖기 시작했다. 강남스타일의 경우처럼 세계적으로 초대박을 내는 한국 드라마가 갑자기 나올지도 모르는 일이다.
물론 한국 드라마에는 아직도 아쉬운 점이 많다. 일부 주먹구구식 제작관행, 허술한 구성, 지나친 드라마내 간접광고(PPL)들은 해결해야 할 과제다. 준비된 모습으로 기회가 왔을 때 글로벌 스타로 발돋움한 싸이처럼 한국 드라마도 치밀한 준비로 미국 시장에 본격 상륙하길 기대해본다.</p>
</div>