		<div class="tools">
			{{linkTo posts.new}}
		</div>
		<ul class="post-list"><!-- 이거 오버-->
			<li>
				<a href="#">
					<h3>오픈 소스는 무엇인가</h3>
					<p class="date">2013/01/13</p>
					<div class="arrow"></div>
				</a>
			</li>
			<li>
				<a href="#">
					<h3>오픈 소스는 무엇인가</h3>
					<p class="date">2013/01/13</p>
					<div class="arrow"></div>
				</a>
			</li>
			<li>
				<a href="#" class="active">
					<h3>오픈 소스는 무엇인가. 조금 더 긴 제목은 어떻게 되는가.</h3>
					<p class="date">2013/01/13</p>
					<div class="arrow"></div>
				</a>
			</li>
			<li>
				<a href="#">
					<h3>오픈 소스는 무엇인가</h3>
					<p class="date">2013/01/13</p>
					<div class="arrow"></div>
				</a>
			</li>
			<li>
				<a href="#">
					<h3>오픈 소스는 무엇인가</h3>
					<p class="date">2013/01/13</p>
					<div class="arrow"></div>
				</a>
			</li>
			<li>
				<a href="#">
					<h3>오픈 소스는 무엇인가</h3>
					<p class="date">2013/01/13</p>
					<div class="arrow"></div>
				</a>
			</li>
			<li>
				<a href="#">
					<h3>오픈 소스는 무엇인가</h3>
					<p class="date">2013/01/13</p>
					<div class="arrow"></div>
				</a>
			</li>
			<li>
				<a href="#">
					<h3>오픈 소스는 무엇인가</h3>
					<p class="date">2013/01/13</p>
					<div class="arrow"></div>
				</a>
			</li>
			<li>
				<a href="#">
					<h3>오픈 소스는 무엇인가</h3>
					<p class="date">2013/01/13</p>
					<div class="arrow"></div>
				</a>
			</li>
		</ul>
{{render "post" }}