<div class="post-list-wrapper">
		<div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
		<div class="viewport">
			 <ul class="post-list overview"><!-- 이거 오버-->
				<li>
					<a href="#">
						<h3>오픈 소스는 무엇인가</h3>
						<p class="date">2013/01/13</p>
						<div class="arrow"></div>
					</a>
				</li>
				<li>
					<a href="#">
						<h3>오픈 소스는 무엇인가</h3>
						<p class="date">2013/01/13</p>
						<div class="arrow"></div>
					</a>
				</li>
				<li>
					<a href="#" class="active">
						<h3>오픈 소스는 무엇인가. 조금 더 긴 제목은 어떻게 되는가.</h3>
						<p class="date">2013/01/13</p>
						<div class="arrow"></div>
					</a>
				</li>
				<li>
					<a href="#">
						<h3>오픈 소스는 무엇인가</h3>
						<p class="date">2013/01/13</p>
						<div class="arrow"></div>
					</a>
				</li>
				<li>
					<a href="#">
						<h3>오픈 소스는 무엇인가</h3>
						<p class="date">2013/01/13</p>
						<div class="arrow"></div>
					</a>
				</li>
				<li>
					<a href="#">
						<h3>오픈 소스는 무엇인가</h3>
						<p class="date">2013/01/13</p>
						<div class="arrow"></div>
					</a>
				</li>
				<li>
					<a href="#">
						<h3>오픈 소스는 무엇인가</h3>
						<p class="date">2013/01/13</p>
						<div class="arrow"></div>
					</a>
				</li>
				<li>
					<a href="#">
						<h3>오픈 소스는 무엇인가</h3>
						<p class="date">2013/01/13</p>
						<div class="arrow"></div>
					</a>
				</li>
				<li>
					<a href="#">
						<h3>오픈 소스는 무엇인가</h3>
						<p class="date">2013/01/13</p>
						<div class="arrow"></div>
					</a>
				</li>
			</ul>
		</div>
	</div>


{{render "post" }}